
body{
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    display: block;
    translate: 40%;
    background-color: rgb(225, 255, 255);
    
}
